__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.git
.github
website/
logs/
output/
images/
reels_images/
tts/
*.mp4
*.jpg
*.png
.env
gcp_secrets.json
token.json
client_secret.json
docker-compose.yml
Dockerfile
.dockerignore
